<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Contatos</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo"><i class="material-icons left">all_inclusive</i>Infinity School</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="index.html">Home</a></li>
            <li><a href="contatos.html">Contatos</a></li>
            <li><a href="#">Sobre</a></li>
          </ul>
        </div>
      </nav>
      <br>

      <div style="text-align: right;">
          <a class="waves-effect waves-light btn-small"><i class="material-icons right">add</i>ADICIONAR CONTATO</a>
          <a class="waves-effect #f44336 red btn-small"><i class="material-icons right">clear</i>LIMPAR CAMPOS</a>
      </div>

      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="name" type="text" class="validate">
                <label for="name">Nome</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input id="mail" type="text" class="validate">
                <label for="mail">Email</label>
              </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="fone" type="text" class="validate">
                <label for="fone">Telefone</label>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <select class="browser-default" >
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
            </div>
            
          </div>
        </form>
      </div>

      

    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>